body{
  /* text-align: center; */
  font-family: "Montserrat";
  width: 100%;
}

.container-fluid{
  padding: 3% 17%;
}

.navbar{
  padding: 0 0 4.5rem;

}

.nav-item{
  font-family: "Montserrat";
  font-size: 1.2rem;
  padding: 0 55px 0 0;
  padding-left: 0;

}

#title{
  background-color: #1F283D;
  color:#DFE3E9;
}

.profile-pic{
  width:70%;
  height: 100%;
  margin-left: 30%;
  border-radius: 100%;
}

.top-section{
  padding-bottom: 4.5rem;
}

h1{
  font-family: "Montserrat";
  font-weight:800;
  font-size: 3.25rem;
  line-height: 1.5;
}

h2{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.5;
}

h3{
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.5;
}

p{
  font-size: 1.25rem;
  line-height: 1;
}

#education{
  background-color: #DFE3E9;
  padding: 3% 17%;
}

#work-exp{
  padding: 3% 17%;
  color:#DFE3E9;
  background-color: #1F283D;
}

#projects{
  padding: 3% 17%;
  color:#1F283D;
  background-color: #DFE3E9;
}

#skills{
  padding: 3% 17%;
  color:#DFE3E9;
  background-color: #1F283D;
}

#logos{
  padding: 0 0 3% 40%;
  color:#DFE3E9;
  background-color: #1F283D;
}

#coursework{
  padding: 3% 17%;
  color:#1F283D;
  background-color: #DFE3E9;
}

#footer{
  padding: 3% 17% 3%;
  color:#DFE3E9;
  background-color: #1F283D;
}
