body{
  font-family: "Montserrat";
  width: 100%;
}

h1, h2, h3{
  line-height: 1.5;
}

h1{
  font-weight:800;
  font-size: 3.25rem;
}

h2{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.25rem;
}

h3{
  font-size: 1.75rem;
  font-weight: bold;
}

p{
  font-size: 1.25rem;
  line-height: 1;
}

a{
  color: #1F283D;
  text-decoration: underline;
}

.container-fluid{
  padding: 3% 17%;
}

/* Background and font color */
.background-light{
  color:#1F283D;
  background-color: #DFE3E9;
}

.background-dark{
  background-color: #1F283D;
  color:#DFE3E9;
}

/* Common Padding */
#education, #skills, #coursework{
  padding: 3% 17%;
}

/* Navigation bar */
.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  font-size: 1.2rem;
  padding: 0 55px 0 0;
}

.nav-item:hover{
  font-size: 1.3rem;
}

/* Title section */

.profile-pic{
  width:70%;
  height: 100%;
  margin-left: 30%;
  border-radius: 100%;
}

/* Work Experience section*/

.work-exp-heading{
  padding: 3% 17% 0;
}
.carousel-item{
  padding: 0 17% 3%;
}

/* Projects section */

.projects-heading{
  padding: 3% 17% 0;
}

/* Skills section */

#logos{
  padding: 0 0 3% 40%;
}

/* Footer section */
#footer{
  padding: 3% 17% 3%;
}
.mailing-address{
  color: #DFE3E9;
}
